.navbar {
    
    position: fixed;
  
}
.home{
   
    font-size: 20px;
    font-weight: 500;
}

.buttonsearch {

   margin-top: 110px;
}

.topsearches {
    text-align: start;
    overflow: auto;
    display: flex;
    list-style: none;
    height: 45px;

}

.topsearches Button {
    height: 35px;
    margin-right: 10px;
}

#brand {
    top: -10px;
    position: relative;
}

.icons {
    display: inline-flex;
    right: 10px;
    top: 10px;
    margin-left: 20px;
    position: absolute;
}


.searchbar{
    position: absolute;
    right: 200px;
    max-width: 500px;
    min-width: 200px; 
    left: 570px; 
}
