.navbar {
    box-shadow: 2px 5px 10px rgb(148, 146, 146);
    background-color: rgba(11, 27, 255, 0.897);
    height: 55px;
    z-index: 1;
}


#search {
    outline: none;
    border: white;
    color: rgb(15, 15, 15);
    height: 30px;
    padding-left: 10px;
    -webkit-transition: width 0.5s;
    position: relative;
    right: 30px;
    width: 200px;
 
   
    
}
#search:focus{
    
    width: 350px;
}

#smallsearch {
    position: absolute;
    top: 10px;
    right: 20px;
    outline: none;
    border: white;
    color: rgb(15, 15, 15);
    height: 30px;
    width:85%;
    
}
#leftangle{
    left: 10px;
    position: absolute;
}

#searchicon {
    left: 30px;
    color: rgb(245, 237, 237);
}



.detail {

    text-align: left;
    padding: 0px 50px;
}

.detail input {
    outline: none;

}


.label {
    padding-top: 5px;
}

.inputs h1 {
    margin: 50px 0px 20px 0px;
}




.MainSidebar {
    position: fixed;
    top: 55px;
    background-color: blue;
    height: 100vh;
    width: 250px;
    left: 0px;
}



.Sidebar ul li {
    margin: 10px 40px;
    list-style: none;
    font-size: 20px;

}

.Sidebar ul {
    padding: 0px 30px;

}

.Sidebar ul li a {
    color: white;
    text-decoration: none;
}

.Sidebar ul li i {
    padding: 0px 10px;
}

hr.line {
    border: 1px solid white;
    width: 100%;

}


.Maindrop{
    align-self: center;
    position: absolute;
    bottom: 160px;
    left: 50px;
}
.carousel_images{
    height: 25i0px;
}
.imageas{
    height: 200px;
}

.card{
    overflow: hidden;
    text-align: left;
}
.imageas{
    
    transition: all 0.2s;
    
}
.imageas:hover{
    transform: scale(1.1);
}
.Searchbars{
    border: 1px solid rgb(73, 73, 73);   
    height: 30px;
    background-color: rgb(252, 248, 248);
}
.Searchbars input{
    border: none;
    outline:none;
    
}
.Searchbars i{
    background-color: rgb(252, 249, 249);
    position: fixed;
}

.searchnav:focus{
    border: 1px solid blue;
   
}
.vedio{
    
    height: 300px;
}
.vedio iframe{
    height: 400px;
 
}
.prodiv{
    position: relative;
}

.MainProfile {
    position: fixed;
    right: 20px;
    top: 45px;
    height: 480px;
    width: 300px;
}
.procard{
    position: relative;
}
.text{
    position: absolute;
    top: 55px;
    left: 70px;
}
.profooter{
    position: absolute;
    margin-top: 150px;
    list-style: none; 
}
.proicon{
    color: rgb(100, 100, 100);
    margin-right: 10px;
}
.profilepage{
    color: white;
  
}
.updaecard{
    align-items: center;
    margin-top: 20px;
}

.updaterow{
    justify-content: center;
}
.updaterow input{
    margin: 10px;
}s
.carouselimg{
    height: 350px;
}

.profile {
    margin-top: 50px;
    
}
.notification{  
    position: fixed;
    z-index: 5;
    top: 55px;
    transform: translate(-50%);
    left: 50%;
}
.footer{
   bottom: 0px;
   margin-bottom: 0px;
    background-color: rgb(109, 108, 108);
    color:white;
    font-size: 20px;
}
#footsearch{
    float: right;
    height: 30px;
    width: 300px;
}
.brandicons{
    display: inline-block;
    padding:20px 20px;
}
.brandicons i{
    
    padding:10px 10px;
}
